*{
	box-sizing: border-box;
}

div.header {
	position: relative;
}

div.menu > ul > li {
	list-style-type: none;
	position: relative;
}

div.menu a:link {
	position: relative;
	background-color: black;
	border: solid black;
	width: 100px;
	margin: 100px;
	text-decoration: none;
	top: 30px;
	padding: 10px;
}

div.menu a:hover {
	background-color: white;
	border: white;
	width: 100px;
}

div.menu li.inicio {
	position: absolute;
	left: 80px;
	top: 2px;
}

div.menu li.nosotros {
	position: absolute;
	left: 150px;
	top: 2px;
}

div.menu li.servicio {
	position: absolute;
	left: 240px;
	top: 2px;
}

div.menu li.contacto {
	position: absolute;
	left: 325px;
	top: 2px;
}