div.menu > ul > li {
	list-style-type: none;
}

div.menu a:link {
	background-color: black;
	border: solid;
	width: 100px;
	text-decoration: none;
}

div.menu a:hover {
	background-color: white;
	border: white;
	width: 100px;
}

div.menu li.inicio {
	position: relative;
	left: 80px;
	top: 2px;
}

div.menu li.nosotros {
	position: relative;
	left: 130px;
	top: -16px;
}

div.menu li.servicio {
	position: relative;
	left: 200px;
	top: -34px;
}

div.menu li.contacto {
	position: relative;
	left: 265px;
	top: -52px;
}